<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>skedmate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>trilane.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendConfirmationEmailServlet</servlet-name>
    <servlet-class>trilane.SendConfirmationEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendConfirmationEmailServlet</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmCompanyServlet</servlet-name>
    <servlet-class>trilane.ConfirmCompany</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmCompanyServlet</servlet-name>
    <url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Login url </description>
    <param-name>login-url</param-name>
    <param-value>
         http://localhost/skedmate/login
     </param-value>
  </context-param>
  <context-param>
    <description>Database Connection url string</description>
    <param-name>data-url</param-name>
    <param-value>
       jdbc:mysql://localhost:3306/ 
     </param-value>
  </context-param>
  <context-param>
    <description>Database connection user name </description>
    <param-name>data-user</param-name>
    <param-value>
       farah
     </param-value>
  </context-param>
  <context-param>
    <description>Database connection user password </description>
    <param-name>data-pwd</param-name>
    <param-value>
         farah
     </param-value>
  </context-param>
  <context-param>
    <description>Location of log file </description>
    <param-name>logfile-path</param-name>
    <param-value>
       C:\Skedmate\
     </param-value>
  </context-param>
</web-app>